.button1{
    background-color: #4CAF50;
    color: #ffffff;
    border-color: #4CAF50;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.water{
  background-color:#C9DEE9;
}

.remove{
  background-color:#8A1422;
}

.plant div{
   margin-top: 30px;
   border-color: #4CAF50;
   border-style: solid;
   border-width: 1px;
   height: 100px;
   overflow: hidden;
   text-decoration: none!important;
   text-align: center;
   vertical-align: middle;
}
